*{
    padding: 0;
    margin: 0;
}


.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    grid-row: 1/ 3;
    display:flex;
    flex-direction: column;
    gap: 100px;
    background-color: #38bdf8;
    color:white;
    font-weight: bold;
}

.header{
    font-size: 4vh;
    margin: 0;
}

.dashimg{
    height: 2vw;
    padding-top: 3vh;
    padding-right: 1vw;
}

.top{
    font-size: 3vh;
}

.bot{
    font-size: 3vh;
}

.projects{
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 4fr 4fr 4fr;
    grid-gap:5px;
}

.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: gainsboro;
}


.head{
    grid-column: 1/3;
}

.announcements{
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 4fr;
    grid-gap:5px;
}

.trending{
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 4fr;
    grid-gap:5px;
}


.items1{
    display: flex;
    justify-content: space-between;
    padding: 3vh;
    font-size: 2vh;
    font-weight: bold;
}

.button{
    display: flex;
    justify-content: flex-end;
    gap:5px;
}

.items2{
    display: flex;
    justify-content: space-evenly;
}

.parag{
    display: flex;
    justify-self: flex-start;
}

.icons{
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color:white;    
}

li {
    list-style: none;
    margin-left: 20px;
}

.iconsimg{
    height: 3vh;
    width: 1.5vw;
    padding-right: 1vw;
}

.magnify{
    display: flex;
    justify-content: flex-start;
}

.iconsimg1{
    height: 2.2vh;
    width: 1.5vw;
}

.input{
    border-radius: 2vw;
    border:none;
    background-color: gainsboro;
    width: 15vw;
    height: 2.5vh;
}

.avatar{
    width: 2vw;
    height: 3vh;
    border-radius: 3vw;
    margin-right: 1vw;
}
.name{
    display: flex;
    text-align: center;
    font-size: 2.5vh;
}